.App {
  text-align: center; 
}

.App-logo {
  padding-bottom: .5rem;
  transition: all ease 200ms;
}

.App-logo:hover {
  border-bottom: 1px solid white;
}

.App-header {
  background-color: #111;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
